.footer {
  background: #141414;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &__text {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }
}
